/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* body{
    margin: 0 300px;

} */

 /* START OF CSS CODE AFTER RESET CSS */

 * {
     box-sizing: border-box;
 }

 a,a:visited {
     text-decoration: none;
     color: #777777;
 }

 

 body{
     background-image: url("../images/cork-board.png");
     margin: 0;
     color: #777777;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

 }
 h1,h2,h3,h4{
    font-family: 'Georgia', Times, Times New Roman, serif;
 }

#imgDp{
    float: left;
    height: 200px;
    width: 200px;
    margin: 0 20px;
}

.topheader{
    width: 100%;
    height: 97px;
    border-bottom: 1px solid #cccccc;  
    clear: both;  
    background: #ffffff;
    margin: 0 auto;
}

.headercontainer{
    width: 960px;
    margin: 0 auto;
}

.contentsheader{
    color: #4aaaa5;
    padding: 10px;
}

#txtABout{
    float: left;
    display: block;
    /* margin-left: 20px; */
}

.hdrRight{
    /* margin: 15px auto; */
    float: right;
    padding: 30px 0px;
    /* margin-right: 50px; */
}

.hdrContents{
    float: left;
    border-right: 1px solid;
    padding: 0 5px;
}

#uname, #uname a:visited{
    float: left;
    background: #4aaaa5;
    font-size: 32px;
    padding: 20px 30px;
    color: #ffffff;
    /* margin-left: 50px; */
}

.divcontents{
    padding: 10px 10px 30px 10px;
    width: 960px;
    margin-top: 20px;
    /* margin: 0px 0px 50px; */
    margin: 0 auto;
    /* width: 100%; */
    background: #ffffff;
    clear: both;
    overflow: auto;
}

@media screen and (max-width: 980px){
    .divcontents{
        padding: 10px 10px 30px 10px;
        width: 768px;
        margin-top: 20px;
        /* margin: 0px 0px 50px; */
        margin: 0 auto;
        /* width: 100%; */
        background: #ffffff;
        clear: both;
        overflow: auto;
    }
    .headercontainer{
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px){
    .divcontents{
        padding: 10px 10px 30px 10px;
        width: 640px;
        margin-top: 20px;
        /* margin: 0px 0px 50px; */
        margin: 0 auto;
        /* width: 100%; */
        background: #ffffff;
        clear: both;
        overflow: auto;
    }
    .headercontainer{
        width: 640px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px){
    .divcontents{
        padding: 10px 10px 30px 10px;
        max-width: 363px;
        margin-top: 20px;
        /* margin: 0px 0px 50px; */
        margin: 0 auto;
        /* width: 100%; */
        background: #ffffff;
        clear: both;
        overflow: auto;
    }
    .topheader{
        height: 180px;
        margin-bottom: 30px;
    }
    .headercontainer{
        width: 363px;
        margin: 0 auto;
        /* height: 500px; */
    }
    .hdrRight{
        /* margin: 15px auto; */
        float: none;
        padding-bottom: 10px;
        margin: 0 auto;
        background: #ffffff;
        /* margin-right: 50px; */
    }
}

footer{
    margin: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    padding: 20px 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    
}

/* SPECIFIC CONTACT HTML CONTENTS */

.contactform{
    background: #ffffff;

}

#inputName,#inputEmail,#inputMessage{
    margin-top: 10px;
}

input, textarea{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 99%;
    resize: vertical;
}

#submit{
    color: #ffffff;
    width: 100px;
    background: #4aaaa5;
}

/* SPECIFIC PORTFOLIO HTML CONTENTS */

td{
    position: relative;
    padding: 20px 30px 0px 0px;

}

/* .lbl-1{
    position: absolute;
    margin-bottom: 30px;
    bottom: 8px;
    left: 10px;
} */

.lblport{
    position: absolute;
    margin-bottom: 30px;
    bottom: 0px;
    /* left: 10px; */
    background: #4aaaa5;
    width: 140px;
    padding: 5px;
    text-align: center;
}

table{
    color: #ffffff;
}

